* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  background-image: url("../req/snake_game_background.png");
  background-position: center;
  background-size: 100vw 100vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}

.board {
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  border: 3px solid black;
  width: 90vmin;
  height: 92vmin;
  display: grid;
  grid-template-rows: repeat(18, 1fr);
  grid-template-columns: repeat(18, 1fr);
}
